<nav class="navbar navbar-expand-lg navbar-dark bg-light shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container-fluid">
     <h1 class="text-success  px-3" > GEOfrance </h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link text-body fs-6" aria-current="page">Acceuil</a>
          </li>
          <li class="nav-item">
            <a routerLink="commune" routerLinkActive="active" class="nav-link text-body fs-6" aria-current="page">Commune</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>